@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300;400;500;600;700&display=swap');
.brand_color {
  color: #fcd842
}

.brand_bg {
  background: #fcd842;
  color: #000;
  text-transform: uppercase;
}